.flex-container {
    display: flex;
    border: 1px solid royalblue;
    max-width: 400px;

}

.item {
    background-color: brown;
    color: white;
    font-size: 24px;
    text-align: center;
    margin: 5px;
}

.flex-1{
    flex: 1;
}
.flex-1{
    flex: 2;
}