.flex-container {
    display: flex;
    border: 1px solid royalblue;
    max-width: 300px;
    margin-bottom: 20px;

}

.direction {
    flex-direction: column;
}

.item {
    background-color: brown;
    color: white;
    font-size: 24px;
    text-align: center;
    flex: 1;
    margin: 5px;
}

.o1 {
    order: 1;
}
.o2 {
    order: 2;
}
.o3 {
    order: 3;
}
.o4 {
    order: 4;
}